.container{
    border: solid 1px #c2c2c2;
    padding: 0.5em 1em 1em;
    margin: 0 1.5em;
}
.searchbox{
    border: solid 2px ;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttonBlack{
    background-color:#000000;
    color:white;
    border:none;
    width:15em;
    cursor: pointer;
    border-radius: 10px
}

